<app-goofy-quiz
  *ngIf="getQuizById(1) as selectedQuiz"
  [idQuiz]="selectedQuiz.id"
  [question]="selectedQuiz.question"
  [answers]="selectedQuiz.answers"
  [validAnswer]="selectedQuiz.validAnswer"
></app-goofy-quiz>

<app-goofy-quiz
  *ngIf="getQuizById(2) as selectedQuiz"
  [idQuiz]="selectedQuiz.id"
  [question]="selectedQuiz.question"
  [answers]="selectedQuiz.answers"
  [validAnswer]="selectedQuiz.validAnswer"
></app-goofy-quiz>

<app-goofy-quiz
  *ngIf="getQuizById(3) as selectedQuiz"
  [idQuiz]="selectedQuiz.id"
  [question]="selectedQuiz.question"
  [answers]="selectedQuiz.answers"
  [validAnswer]="selectedQuiz.validAnswer"
></app-goofy-quiz>

<app-goofy-quiz
  *ngIf="getQuizById(4) as selectedQuiz"
  [idQuiz]="selectedQuiz.id"
  [question]="selectedQuiz.question"
  [answers]="selectedQuiz.answers"
  [validAnswer]="selectedQuiz.validAnswer"
></app-goofy-quiz>

<app-goofy-quiz
  *ngIf="getQuizById(5) as selectedQuiz"
  [idQuiz]="selectedQuiz.id"
  [question]="selectedQuiz.question"
  [answers]="selectedQuiz.answers"
  [validAnswer]="selectedQuiz.validAnswer"
></app-goofy-quiz>

<button (click)="backToPlanet()">Retour à l'accueil</button>
