.planete-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;   
  height: 100vh;    
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-image: url("/assets/sprites/etoile.jpg");
  background-size: cover;
}

/* Le sprite (la planète) */
.sprite {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-repeat: no-repeat;
}

/* Boutons cliquables sur la Terre */
.sprite button {
  position: absolute;
  padding: 8px 12px;
  font-size: 14px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

button img {
  width: 2rem;
  height: 2rem;
}

button:hover img {
  transform: scale(1.2);
  transition: transform 0.3s;
}

/* Position des 3 boutons */
.btn-1 {
  top: 25%;   /* ajuste comme tu veux */
  left: 40%;
  transform: translateX(-50%);
}

.btn-2 {
  top: 60%;
  left: 55%;
  transform: translateY(-50%);
}

.btn-3 {
  bottom: 60%;
  right: 10%;
}



/* Fond plein écran derrière la pop-up */
.popup-backdrop {
  position: fixed;
  inset: 0;
  background: rgba(90, 90, 90, 0.18);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* au-dessus de la planète */
}

/* Fenêtre de pop-up */
.popup-window {
  position: relative;
  width: 80vw;
  max-width: 800px;
  max-height: 80vh;
  background: #111827;
  color: #f9fafb;
  border-radius: 20px;
  padding: 2rem 2.5rem;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.5);
  overflow-y: auto;
  animation: popup-enter 0.25s ease-out;
}

/* Animation d’apparition */
@keyframes popup-enter {
  from {
    transform: translateY(10px) scale(0.95);
    opacity: 0;
  }
  to {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}

/* Bouton croix */
.popup-close {
  position: absolute;
  top: 12px;
  right: 12px;
  border: none;
  background: transparent;
  color: #9ca3af;
  font-size: 1.2rem;
  cursor: pointer;
}

.popup-close:hover {
  color: #e5e7eb;
}

/* Contenu */
.popup-title {
  margin-top: 0.5rem;
  margin-bottom: 0.75rem;
  font-size: 1.8rem;
}

.popup-text {
  margin-bottom: 1.5rem;
  line-height: 1.5;
}

/* Boutons */
.popup-actions {
  display: flex;
  justify-content: flex-end;
  gap: 0.75rem;
  margin-top: 1rem;
}

.btn-primary,
.btn-secondary {
  border-radius: 999px;
  padding: 0.5rem 1.2rem;
  border: none;
  cursor: pointer;
  font-weight: 500;
}

/* style boutons */
.btn-primary {
  background: #3b82f6;
  color: white;
}

.btn-primary:hover {
  background: #2563eb;
}

.btn-secondary {
  background: transparent;
  color: #e5e7eb;
  border: 1px solid #4b5563;
}

.btn-secondary:hover {
  background: #1f2937;
}

.popup-icon{
    position: relative;
    left: 50%;
    transform: translate(-50%, 1%);
}

.popup-body {
    text-align: center;
    margin-top: 10%;
    font-size: 18px;
}