<app-goofy-quiz
  *ngIf="getQuizById(1) as selectedQuiz"
  [idQuiz]="selectedQuiz.id"
  [question]="selectedQuiz.question"
  [answers]="selectedQuiz.answers"
  [validAnswer]="selectedQuiz.validAnswer"
></app-goofy-quiz>

<app-goofy-quiz
  *ngIf="getQuizById(2) as selectedQuiz"
  [idQuiz]="selectedQuiz.id"
  [question]="selectedQuiz.question"
  [answers]="selectedQuiz.answers"
  [validAnswer]="selectedQuiz.validAnswer"
></app-goofy-quiz>

<app-goofy-quiz
  *ngIf="getQuizById(3) as selectedQuiz"
  [idQuiz]="selectedQuiz.id"
  [question]="selectedQuiz.question"
  [answers]="selectedQuiz.answers"
  [validAnswer]="selectedQuiz.validAnswer"
></app-goofy-quiz>
  <button (click)="openTours()" class="btn-open">
    Mes Tours
  </button>
  <br/>

<app-goofy-quiz
  *ngIf="getQuizById(4) as selectedQuiz"
  [idQuiz]="selectedQuiz.id"
  [question]="selectedQuiz.question"
  [answers]="selectedQuiz.answers"
  [validAnswer]="selectedQuiz.validAnswer"
></app-goofy-quiz>

<app-goofy-quiz
  *ngIf="getQuizById(5) as selectedQuiz"
  [idQuiz]="selectedQuiz.id"
  [question]="selectedQuiz.question"
  [answers]="selectedQuiz.answers"
  [validAnswer]="selectedQuiz.validAnswer"
></app-goofy-quiz>

  <div class="overlay" *ngIf="isPopupVisible">
      <app-tours (close)="closeTours()"></app-tours>
  </div>
  <br/>
<router-outlet />